<div class="page-wrapper">
  <!-- HERO / PORTADA -->
  <header class="hero">
    <div class="overlay"></div>

    <div class="hero-content">
      <p class="static-black">NUESTRA BODA</p>
      <h1 class="static-gold">Pablo &amp; Paula</h1>

      <p class="static-black">20.12.2025</p>

      <!-- Audio -->
      <div class="hero-audio">
        <iframe
  id="ytplayer"
  width="1"
  height="1"
  src="https://www.youtube.com/embed/6JqnbsQpljU?enablejsapi=1&autoplay=1&mute=1&controls=0&loop=1&playlist=6JqnbsQpljU&start=5"
  frameborder="0"
  style="opacity:0; position:absolute;"
  allow="autoplay">
</iframe>
      </div>

      <!-- Countdown -->
      <div class="countdown">
        <div class="countdown-item">
          <span class="count-value">{{ countdown.days }}</span>
          <span class="count-label">Días</span>
        </div>
        <div class="countdown-item">
          <span class="count-value">{{ countdown.hours }}</span>
          <span class="count-label">Horas</span>
        </div>
        <div class="countdown-item">
          <span class="count-value">{{ countdown.minutes }}</span>
          <span class="count-label">Min.</span>
        </div>
        <div class="countdown-item">
          <span class="count-value">{{ countdown.seconds }}</span>
          <span class="count-label">Seg.</span>
        </div>
      </div>
    </div>
  </header>

<button class="toggle-btn show-more-btn" (click)="toggleSection()" *ngIf="!hidde_content">
  <span class="arrow">Click here to see the invitation</span>
</button>

  <!-- FRASE / VERSÍCULO -->
  <section class="section verse-section" *ngIf="hidde_content">
    <div class="section-inner">
      <p class="verse-text">
        “Si te quiero es porque sos mi amor, mi cómplice y todo. Y en la calle, codo a codo, somos mucho más que dos”
      </p>
      <p class="verse-ref">- Mario Benedetti</p>
    </div>
  </section>

  <!-- PADRES y PADRINOS -->
  <section class="parents-section" *ngIf="hidde_content">
    <div class="section-inner">
      <div class="separator"></div>
      <p class="tag">Con la bendición de Dios</p>
      <h2 class="section-title">Y nuestros padres</h2>

      <div class="parents-grid">
        <div class="parents-block">
          <h3 class="mini-title">Novio</h3>
          <p class="person-name">Rosa Margarita Loarca Sotoj</p>
          <p class="person-name">César Augusto Rosales De León <span style="color:#6c6c6c; font-size:1.4rem;">+</span>
          </p>
        </div>
        <div class="parents-block">
          <h3 class="mini-title">Novia</h3>
          <p class="person-name">Irasema Del Rosario Castillo Estrada De Pérez</p>
          <p class="person-name">Angel Estuardo Pérez Corado</p>
        </div>
      </div>

      <div class="godparents">
        <h3 class="mini-title">Nuestros padrinos</h3>
        <p class="person-name">Angel Pérez E Irasema De Pérez</p>
      </div>
      <div class="separator">
      </div>
    </div>
  </section>

  <!-- RECEPCIÓN -->
  <section class="section reception-section" *ngIf="hidde_content">
    <div class="section-inner">
      <h2 class="section-title">Ceremonia Religiosa</h2>

      <div class="reception-info">
        <p class="reception-time">16:00 horas</p>
        <p class="reception-place">
          Parroquia Nuestro Señor de Esquipulas Aldea Don Justo Santa Catarina Pinula
        </p>
        <button type="button" class="primary-btn" (click)="openMap('church')">
          Ver mapa
        </button>
      </div>
    </div>

        <div class="section-inner">
      <h2 class="section-title">Recepción</h2>

      <div class="reception-info">
        <p class="reception-time">19:00 horas</p>
        <p class="reception-place">
          La dirección es km 18.5 Carretera a el Salvador Lote#9 el Canchon Santa Catarina Pinula
        </p>
        <button type="button" class="primary-btn" (click)="openMap('party')">
          Ver mapa
        </button>
      </div>
    </div>
  </section>

  <!-- ITINERARIO
  <section class="section itinerary-section">
    <div class="section-inner">
      
      <div class="children-note">
        <p>
          Sabemos que los niños son importantes en nuestras vidas, pero queremos
          que disfrutes este momento tanto como nosotros, por eso hemos decidido
          que en esta ocasión los niños se queden en casa.
        </p>
      </div>
    </div>
  </section> -->

  <section class="section dresscode-section">
    <div class="section-inner">
      <!-- <img src="https://static6.depositphotos.com/1035649/577/v/450/depositphotos_5775839-stock-illustration-black-tie.jpg"> -->
      <h2 class="section-title">Código de vestimenta</h2>
      <p class="dresscode-text">Formal</p>
      <p class="dresscode-subtext">
        Gala en color negro exclusivamente.
      </p>
      <p class="text-dresscode">
        Llegar abrigados, tomar en cuenta el clima
      </p>
    </div>
  </section>

  <!-- FOTOS / QR -->
  <section class="section photos-section" *ngIf="hidde_content">
    <div class="section-inner">
      <h2 class="section-title">Compártenos fotos y videos</h2>
      <p class="section-description">
        Para compartir nuestros mejores momentos.
      </p>
      <button type="button" class="secondary-btn" (click)="openPhotoQR()">
        Abrir álbum / escáner
      </button>
    </div>
  </section>

  <!-- Gift Section -->
   <section class="gift-section" *ngIf="hidde_content">
  <div class="gift-container">
    <h2 class="section-title">Regalos</h2>

    <p class="verse-text-black">
      Sé parte de nuestro sueño ayudándonos a cumplirlo
    </p>

    <div class="gift-card">
      <p class="gift-line-text">
        Si deseas acompañarnos con un regalo, agradecemos que realices tu transferencia el día de la boda. También contaremos con sobres para quienes prefieran entregarlo en el evento.
      </p>
      <div style="height: 10px; width: 20px;"></div>
      <p class="gift-line">
        <strong>Nombre:</strong> Pablo Rosales Loarca
      </p>

      <p class="gift-line">
        <strong>Banco:</strong> BAC
      </p>

      <p class="gift-line">
        <strong>Tipo de cuenta:</strong> Ahorro
      </p>

      <p class="gift-line">
        <strong>Número de cuenta:</strong> 966315582
      </p>
    </div>
  </div>
</section>

  <!-- RSVP / CONFIRMACIÓN -->
  <section class="section rsvp-section" *ngIf="hidde_content">
    <div class="section-inner">
      <h2 class="section-title">Confirma tu asistencia</h2>
      <p class="section-description">
        Por favor, completa el siguiente formulario para ayudarnos con la
        organización de este día tan especial. Debera ser llenado una vez por persona individual
      </p>

      <form [formGroup]="rsvpForm" (ngSubmit)="onSubmitRSVP()" class="rsvp-form">
        <div class="form-group">
          <label class="form-label">¿Asistirás? *</label>
          <div class="radio-group">
            <label class="radio-option">
              <input type="radio" value="yes" formControlName="attendance" />
              <span>¡Sí! No me lo pierdo por nada</span>
            </label>
            <label class="radio-option">
              <input type="radio" value="no" formControlName="attendance" />
              <span>No, pero los acompaño de corazón</span>
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="guestName" class="form-label">Nombre completo *</label>
          <input
            id="guestName"
            type="text"
            class="form-control"
            formControlName="guestName"
            placeholder="Escribe tu nombre"
          />
        </div>

        <div class="form-group">
          <label for="dpi" class="form-label">DPI *</label>
          <input
            id="dpi"
            type="number"
            class="form-control"
            formControlName="dpi"
            placeholder="DPI"
          />
        </div>

        <div class="form-group">
          <label for="message" class="form-label">Mensaje para los novios</label>
          <textarea
            id="message"
            rows="3"
            class="form-control"
            formControlName="message"
            placeholder="Escribe un mensaje (opcional)"
          ></textarea>
        </div>

        <button type="submit" class="primary-btn submit-btn" (click)="enviarFormulario()" [disabled]="rsvpForm.invalid">
          Enviar
        </button>
      </form>
    </div>
  </section>

  <footer class="footer"  *ngIf="hidde_content">
    <p>Con amor, Pablo &amp; Paula</p>
  </footer>
</div>
